.progressBar{
    width: 50vw;
    margin-left: 10rem;
    margin-top: 3rem;
}
.thirdStep{
    display: flex;
    flex-direction: column;
}
.firstImg{
    border-radius: 20px;
}
.secoundImg{
    border-radius: 20px;
}
.thirdImg{
    border-radius: 30px;
}